html {
    margin: 0;
    background-color: #CF000F;
}

body {
    background-color: #CF000F;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #22313F;
}
#sidebar
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px black groove;
    padding: 1%;
    width: 14%;
    position: fixed;
    left: 1%;
    background: white;
}

.table {
    background-color: #CF000F;
    display: flex ;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #ECF0F1;
    margin: 1%;
}


#exia {
    margin-left: 3%;
    padding: 0.8%;
    background-color: #F2F1EF;
    border-radius: 15px;
    float: left;
}
#cc {
    background-color: #CF000F;
    border: none;
}



footer {
    height: 10%;
    padding-top: 2%;
    text-align: center;
    color: #ECF0F1;
}

footer a {
    text-decoration: none;
    color: #BFBFBF;
}

footer img {
    width: 3%;
}





/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 2%;
    margin: 3% 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 100%;
}



.eventBloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.event{
    margin-bottom: 1%;
    width: 70%;
    background-color: #F2F1EF;
    margin: auto;

}
section {
    margin: 3%;
    margin-left: 20%;
    margin-right: 10%;
    padding: 1%;
    justify-content: center;
    background-color: #F2F1EF;
}


.addNewEvent
{
    margin: 1%;
}

.titleAndPhoto{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 30%;
    background-color: #F2F1EF;
}


.eventDescription{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 1.1%;
    margin-bottom: 0.2%;
    margin-left: 1%;
    margin-right: 2%;
    width: 75%
}


.title{
    border: black 1px solid;
    margin: 2px;
    margin-top: 4%;
    background-color: white;
    font-size: 75%;
}

.photo
{
    border: double 2px black;
    height: 100%;
    margin: 2px;
}

.thumbnail{
    height: 100%;
    width: 100%;
}
.filter
{

    border: 1px black double;
    position: fixed;
    height: 60%;
    left: 3%;
    margin-top: -1%;
    background-color: #F2F1EF;

}

.inscriptionButton
{
    align-self: flex-end;
}



@media screen and (max-width:720px){

    .eventBloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


}
