html {
    margin: 0;
    background-color: #CF000F;
}

body {
    background-color: #CF000F;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #22313F;
}
#sidebar
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px black groove;
    padding: 1%;
    width: 14%;
    position: fixed;
    left: 1%;
    background: white;
}


.addNewEvent
{
    align-self: center;

}
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 2%;
    margin: 3% 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 100%;
}

#addEventButton{
    min-width: 100%;
    height: auto;
    padding: 3%;
    font-size: 1.2em;
    color: black;
}

.eventBloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
#eventAndParticipants{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.event{
    margin-bottom: 1%;
    width: 70%;
    background-color: #F2F1EF;
    margin: auto;

}
#corps {
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    justify-content: center;
    background-color: #F2F1EF;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}




.titleAndPhoto{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 30%;
    background-color: #F2F1EF;
}


.eventDescription{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 1.1%;
    margin-bottom: 0.2%;
    margin-left: 1%;
    margin-right: 2%;
    width: 75%;

}


.title{
    border: black 1px solid;
    margin: 2px;
    margin-top: 4%;
    background-color: white;
    font-size: 75%;
}
.eventName
{
    color:    #CF000F;
}
.photo
{
    border: double 2px black;
    height: 100%;
    margin: 2px;
}

.thumbnail{
    height: 100%;
    width: 100%;
}


.inscriptionButton
{
    align-self: flex-end;
}

.linkToEvent{
    color:  #CF000F;
}
.reportButton{
    align-self: center;
}
.report
{
    width: 18%;
    height: 72%;
}
.inscriptionDiv
{
    display: flex;
    flex-direction: column;

    justify-content: center;
}
.inscriptionButton
{
    align-self: center;
}
.reportDiv
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end

}

@media screen and (max-width:720px){

    .eventBloc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #addEventButton{
    width: 50%;
    font-size: 0.7em;
    }
    .eventDescription{
        font-size: 0.7em;
    }
    .linkToEvent{
    font-size: 0.7em;
    }


}
