.table {
    background-color: #CF000F;
    display: flex ;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #ECF0F1;
    margin: 1%;
}

.bouton li{ list-style-type: none;
}

.bouton{
    padding: 1%;
    text-decoration: none;
    color: #ECECEC;
    font-size:20px;
    letter-spacing: 2px;
}

.bouton:hover{
    text-decoration-line: underline;
}

#exia{
    margin-left: 4%;
    padding: 0.8%;
    background-color: #F2F1EF;
    border-radius: 10px;
    float: left;
    width: 8%;
}
#authentificationBtn{
    background-color: #CF000F;
    border: none;
}
