html {
    margin: 0;
    background-color: #CF000F;
}

body {
    background-color: #CF000F;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #22313F;

}

.table {
    background-color: #CF000F;
    display: flex ;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #ECF0F1;
    margin: 1%;
    margin: 1%;
}

.bouton li{ list-style-type: none;
}

.bouton{
    justify-content: center;
    padding: 1%;
    text-decoration: none;
    color: #ECECEC;
    font-size:30px;
    letter-spacing: 2px;
}

.bouton:hover{
    text-decoration-line: underline;
}

#exia {
    margin-left: 3%;
    padding: 0.8%;
    background-color: #F2F1EF;
    border-radius: 15px;
    float: left;
}

#cc {
    background-color: #CF000F;
    border: none;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #FFF;
    padding: 2%;
    margin: auto;
    margin-top: 3%;
    width: 60%;
}

#side {
    width: 3.5%;
    position: fixed;
    margin: 0;
    right:10px;
    top : 93%;
}

#side img {
    width: 60%;
}


footer {
    height: 10%;
    padding-top: 2%;
    text-align: center;
    color: #ECF0F1;
}

footer a {
    text-decoration: none;
    color: #BFBFBF;
}

footer img {
    width: 3%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 20px;
}


button:hover {
    opacity: 0.8;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    font-size: 20px;
}

.loginbtn{
    width: auto;
    padding: 10px 18px;
    background-color: #4CAF50;
    font-size: 20px;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.shop
{
    margin: 3%;
    width: 200px;
}

.shop-picture
{
    width: 200px;
    height: 200px;
    border: 1px black groove;
}

.goodies-picture
{
    width: 150px;
    height: 150px;
    border: 1px black groove;
    padding: 10px;
    margin: auto;
    margin-bottom: 2%;
}

.info_goodies
{
    padding: 1%;
    margin: 2%;
    border: 1px black groove;
    overflow: auto;
}

.info_goodie_description
{
    max-width: 70%;
}

.goodies_information
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px black groove;
    padding: 1%;
    width: 14%;
    position: fixed;
    right: 1%;
    top: 24%;
    background: white;
    opacity:
}

.goodies_information_part
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
}

.goodies_information_part_position
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
    padding: 1%;
}

.invisible
{
   display: none;
}

#sidebar
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px black groove;
    padding: 1%;
    width: 14%;
    position: fixed;
    left: 1%;
    top: 24%;
    background: white;
    opacity:
}
