


html {
    margin: 0;
    background-color: #CF000F;
}

body {
    background-color: #CF000F;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #22313F;
}



.photo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#choosePhoto{
   align-self: center;
}

#test{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.choices
{
    margin: auto;
}
.payant
{
    display: flex;
}

.textOfSelect{
    font-size: 0.7em;
}


.eventBloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.event{
    background-color: #F2F1EF;
    background-color: #F2F1EF;

}
section {
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #F2F1EF;
}
.eventDescription{
    margin-left: 1%;
    margin-right: 1%;
}


.titleAndPhoto{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 30%;
    background-color: #F2F1EF;
}



.photo
{
    border: double 2px black;
    height: 100%;
    margin: 2px;
}

.thumbnail{
    height: 100%;
    width: 100%;
}





@media screen and (max-width:720px){

    .eventBloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}


}
