html {
    margin: 0;
    background-color: #CF000F;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

section {
    margin: 3%;
    margin-top: 4%;
    margin-left: 2%;
    justify-content: center;
}

/*
#side {
    width: 3.5%;
    position: fixed;
    margin: 0;
    right:10px;
    top : 93%;
}

#side img {
    width: 60%;
}*/
