#legalNoticeDiv
{
    display: flex;
    justify-content: center;
}

section {
    background-color: #FFF;
    padding: 2%;
    margin: auto;
    margin-top: 3%;
    width: 60%;
    border: 2px black groove;
}

h1
{
    font-size: 4em;
}

.mention_titre
{
    text-align: center;
    margin-top: 1%;
    margin-bottom: 5%;
}

.mention_txt
{
    text-align: justify;
    margin-bottom: 3%;
}

@media screen and (max-width:750px){
    h1
    {
        font-size: 1.5em;
    }
}
