html
{
    background-color: #CF000F;
}

body
{
    background-color: #CF000F;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #22313F;
}

#addGoodieDiv
{
    display: flex;
    justify-content: center;
}

section
{
    margin: 3%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    background-color: #FFF;
    width: 70%;
    align-content: center;
}

h1
{
    font-size: 4em;
    text-align: center;
}

.goodieBloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    margin: auto;
    align-items: center;
}

.titleAndPhoto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: auto;
}

.inputText
{
}

.photo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: double 2px black;
    width: 100%;
    height: 12%;
    margin-top: 10%;
    padding-bottom: 3%;
}

#warningPhoto
{
    color: red;
    text-align: center;
}

#choosePhoto
{
    align-self: center;
}

#price
{
    width: 10%;
    height: 5%;
    padding: 1%;
}

.textOfSelect
{
    font-size: 0.7em;
}

.thumbnail
{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:1500px){
    h1
    {
        font-size: 1.5em;
    }

    .goodieBloc
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .titleAndPhoto{
        width: 80%;
    }

    .photo
    {
        min-width: 250px;
        margin-bottom: 5%;
        font-size: 1em;
    }

    .inputText
    {
        min-width: 50%;
        margin-bottom: 2%;
        font-size: 1em;
    }

    #goodieCategory
    {
        width: 50%;
        font-size: 1em;
        margin-bottom: 2%;
    }

    #price
    {
        font-size: 1em;
        margin-bottom: 2%;
    }

    #inscriptionButton
    {
        font-size: 1em;
    }
}
