html {
    margin: 0;
    background-color: #CF000F;
}

body {
    background-color: #CF000F;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: #22313F;

}

.table {
    background-color: #CF000F;
    display: flex ;
    flex-flow: wrap;
    justify-content: flex-end;
    align-items: center;
    color: #ECF0F1;
    margin: 1%;
    margin: 1%;
}

#exia {
    margin-left: 3%;
    padding: 0.8%;
    background-color: #F2F1EF;
    border-radius: 15px;
    float: left;
}

#cc {
    background-color: #CF000F;
    border: none;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    background-color: #FFF;
    padding: 2%;
    margin: auto;
    margin-top: 3%;
    width: 60%;
    border: 2px black groove;
}

footer {
    height: 10%;
    padding-top: 2%;
    text-align: center;
    color: #ECF0F1;
}

footer a {
    text-decoration: none;
    color: #BFBFBF;
}

footer img {
    width: 3%;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 3%;
    margin: 3% 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 100%;
}

button:hover {
    opacity: 0.8;
}

.shop
{
    margin: 3%;
    width: 200px;
}

.shop-picture
{
    width: 200px;
    height: 200px;
    border: 1px black groove;
}

.goodies-picture
{
    width: 150px;
    height: 150px;
    border: 1px black groove;
    padding: 10px;
    margin: auto;
    margin-bottom: 2%;
}

.info_goodies
{
    padding: 1%;
    margin: 2%;
    border: 1px black groove;
    overflow: auto;
}

.info_goodie_description
{
    max-width: 70%;
}

.goodies_information
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px black groove;
    padding: 1%;
    width: 14%;
    position: fixed;
    right: 1%;
    top: 16.5%;
    background: white;
    opacity:
}

.goodies_information_part
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2%;
    padding: 1%;
}

.goodies_information_part_position
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;
    padding: 1%;
}

.invisible
{
   display: none;
}

#sidebar
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px black groove;
    padding: 1%;
    width: 14%;
    position: fixed;
    left: 1%;
    top: 16.5%;
    background: white;
}

#basket
{
    position: fixed;
    left: 8.8%;
    top: 34%;
    border: 2px black groove;
    width: 5%;
    padding: 1%;
    background: #FFF;
    z-index: 2;
}
