.eventBloc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}
.event{
    margin-bottom: 1%;
    width: 70%;
    background-color: #F2F1EF;
    margin: auto;

}
section {
    margin: 3%;
    margin-left: 20%;
    margin-right: 10%;
    padding: 1%;
    justify-content: center;
    background-color: #F2F1EF;
}

.descriptionBox
{
width: 100%;

}
.addIdea
{

}
.titre
{
    height: 25%;
}

.titleAndPhoto{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    width: 30%;
    background-color: #F2F1EF;
}


.eventDescription{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    background-color: white;

    margin-top: 1.1%;
    margin-bottom: 0.2%;
    margin-left: 1%;
    margin-right: 2%;
    flex:1;
}


.title{
    font-size: 20px;
    border: black 1px solid;
    margin: 2px;
    margin-top: 4%;
    background-color: white;

}
.validation{


}



.titleValidation{
    font-size: 20px;
    border: black 1px solid;
    margin: 2px;
    margin-top: 4%;
    background-color: white;

}

.photo
{
    border: double 2px black;
    height: 100px;
    margin: 2px;
}


.thumbnail{
    height: 100%;
    width: 100%;
}

.bar{

    border: 1px solid #eee;
    box-shadow: 0 5px 5px #ccc;
    padding : 15px;
    margin: auto;
    border-color: dimgray;
    background-color: dimgray;
    border-radius: 10px;
    width: 60%;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
}



.filter
{

    border: 1px black double;
    position: fixed;
    height: 60%;
    left: 3%;
    width: 10%;
    margin-top: -1%;
    background-color: #F2F1EF;

}

.voteButton
{
    align-self: flex-end;
}



/*Validation*/



.buttonValidation{


    align-self: flex-end;


}



@media screen and (max-width:720px){

    .eventBloc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


}
