/*
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
*/

html {
    background-color: #CF000F;
}

body {
    background-color: #CF000F;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    color: #22313F;
}

#basketDiv
{
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #FFF;
    padding: 2%;
    margin: auto;
    margin-top: 3%;
    width: 60%;
    border: 2px black groove;

    text-align: center;
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #FFF;
    width: 100%;

}

input[type=text], input[type=password] {
    width: 100%;
    padding: 3%;
    margin: 3% 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 100%;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 750px)
{
    section
    {
        justify-content: center;
    }

    input[type=text], input[type=password] {
    width: 100%;
    padding: 3%;
    margin: 3% 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 100%;
    }
}
